<h1>Add a Review </h1>
<%= form_for [@bathroom, @review] do |f| %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <br>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
  <br>
  <%= f.submit "Add Review" %>
<% end %>
